<div style="padding: 10px;">
	<div class="row form-group" style="background-color: #67B4C7; color:#FFF; font-weight: bolder;border-radius: 20px; ">
		<div class="col-lg-12 text-center">
			<b>
				<h1>{{RegionData.RegionName}}</h1>
				<h1>วันที่ {{CurDateStr}}</h1>
				
			</b>
		</div>
	</div>
	<div style="margin:10px;background-color: #81C6D7;">
		<br>
		<div class="row form-group" ng-repeat="data in DataList" style="font-size: 1.3em;background-color: #FFF; margin: 10px; margin-top: 10px; padding: 10px;border-radius: 20px; ">
			<div class="col-lg-4">
				{{data.Room}}
			</div>
			<div class="col-lg-8">
				<div class="row form-group" ng-repeat="sub_data in data.Reserve">
					<div class="col-lg-3">
						เวลา {{getTime(sub_data.StartDateTime)}} - {{getTime(sub_data.EndDateTime)}} น.
					</div>
					<div class="col-lg-9">
						หัวข้อ {{sub_data.TopicConference}}
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>
</div>
<style type="text/css">
	body{
		background-color: #FFF;
	}
	.container{
		margin-top: 5%;
		border-radius: 20px; 
	}
</style>