<div style="position: fixed; bottom: 0px; z-index: 999999; background-color: #fff; width: 100%; height: 13%; border-top: 1px solid #999; left: 0px;">
	<div class="row">
		<div class="col-sm-3 col-xs-3 text-center">
			<img src="img/room-icon.png" style="height: 60px; margin-top:10px;" ng-click="goToPage('roomconference')">
			<br>
			จองห้องประชุม
		</div>
		<div class="col-sm-3 col-xs-3 text-center">
			<img src="img/car-icon.png" style="height: 60px; margin-top:10px;" ng-click="goToPage('vehicles/-1')">
			<br>
			จองรถ
		</div>
		<div class="col-sm-3 col-xs-3 text-center">
			<img src="img/repair-icon.png" style="height: 60px; margin-top:10px;" ng-click="goToPage('repair')">
			<br>
			แจ้งซ่อม
		</div>
		<div class="col-sm-3 col-xs-3 text-center">
			<img src="img/leave-icon.png" style="height: 60px; margin-top:10px;" href="www.google.co.th">
			<br>
			วันลา
		</div>
	</div>
</div>